[mysqld]
innodb_file_per_table=1
innodb_buffer_pool_size=5120M 

query_cache_size=0

max_connections=10000
max_user_connections=10000
open_files_limit=10000

thread_cache_size=128
key_buffer_size=750M
sort_buffer_size=4M
join_buffer_size=4M
max_allowed_packet=32M
read_buffer_size=1M
read_rnd_buffer_size=1M
tmp_table_size=2048M